<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="bootstrap-checkbox.js"></script>
<script src="angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
<div class="container" id="myWizard" ng-controller="configuratorController">

  <h3>Woningconfigurator</h3>

  <hr>

  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" style="width: 20%;">
      Stap 1 van 8
    </div>
  </div>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav nav-pills">
        <li class="active"><a href="#stap1" data-toggle="tab" data-stap="1">Carport</a></li>
        <li><a href="#stap2" data-toggle="tab" data-stap="2">Garage</a></li>
        <li><a href="#stap3" data-toggle="tab" data-stap="3">vraag 3</a></li>
        <li><a href="#stap4" data-toggle="tab" data-stap="4">vraag 4</a></li>
        <li><a href="#stap5" data-toggle="tab" data-stap="5">vraag 5</a></li>
        <li><a href="#stap6" data-toggle="tab" data-stap="6">vraag 6</a></li>
        <li><a href="#stap7" data-toggle="tab" data-stap="7">vraag 7</a></li>
        <li><a href="#stap8" data-toggle="tab" data-stap="8">Uw prijs</a></li>

      </ul>
    </div>
  </div>
  <div class="page-wrapper">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="stap1">
        <div class="tab-container">
          <label>Wilt u een carport bij uw woning?</label>
          <br>
          <div class="garage">
            <img src="./images/02 optie.jpg" alt="garage" id="Picture" style="width:304px;height:228px;">
          </div>
          <div class="Checkbox1">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-danger" ng-click="removeExtras(1)">
                <input type="checkbox" autocomplete="off"> Verwijderen
              </label>
              <label class="btn btn-success" ng-click="addExtras(1)">
                <input type="checkbox" autocomplete="off"> Toevoegen
              </label>
            </div>
          </div>
          <div>
            <a class="btn btn-default prev" href="#">Terug</a>
            <a class="btn btn-default next" href="#">Doorgaan</a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="stap2">
        <div class="tab-container">
          <label>Wilt u een aangebouwde garage bij uw woning?</label>
          <br>
          <div class="garage">
            <img src="./images/03 optie garage vv.jpg" alt="garage" id="Picture" style="width:304px;height:228px;">
          </div>
          <div class="Checkbox1">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-danger" ng-click="removeExtras(2)">
                <input type="checkbox" autocomplete="off"> Verwijderen
              </label>
              <label class="btn btn-success" ng-click="addExtras(2)">
                <input type="checkbox" autocomplete="off"> Toevoegen
              </label>
            </div>
          </div>
          <div>
            <a class="btn btn-default prev" href="#">Terug</a>
            <a class="btn btn-default next" href="#">Doorgaan</a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="stap3">
        <div class="tab-container">
          <label>Wilt u een aangepaste 65+ woning?</label>
          <br>
          <div class="garage">
            <img src="./images/04 optie 65+.jpg" alt="65+" id="Picture" style="width:304px;height:228px;">
          </div>
          <div class="Checkbox1">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-danger" ng-click="removeExtras(3)">
                <input type="checkbox" autocomplete="off"> Verwijderen
              </label>
              <label class="btn btn-success" ng-click="addExtras(3)">
                <input type="checkbox" autocomplete="off"> Toevoegen
              </label>
            </div>
          </div>
          <div>
            <a class="btn btn-default prev" href="#">Terug</a>
            <a class="btn btn-default next" href="#">Doorgaan</a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="stap4">
        <div class="tab-container">
          <label>Wilt u een aangepaste 65+ met een garage bij uw woning?</label>
          <br>
          <div class="garage">
            <img src="./images/05 optie garage 65+.jpg" alt="65+garage" id="Picture" style="width:304px;height:228px;">
          </div>
          <div class="Checkbox1">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-danger" ng-click="removeExtras(4)">
                <input type="checkbox" autocomplete="off"> Verwijderen
              </label>
              <label class="btn btn-success" ng-click="addExtras(4)">
                <input type="checkbox" autocomplete="off"> Toevoegen
              </label>
            </div>
          </div>
          <div>
            <a class="btn btn-default prev" href="#">Terug</a>
            <a class="btn btn-default next" href="#">Doorgaan</a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="stap5">
        <div class="tab-container">
          <label>Wilt u een carport en een brede woonkamer bij uw woning?</label>
          <br>
          <div class="garage">
            <img src="./images/06 optie cp + brede wk.jpg" alt="carportbreedwk" id="Picture" style="width:304px;height:228px;">
          </div>
          <div class="Checkbox1">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-danger" ng-click="removeExtras(5)">
                <input type="checkbox" autocomplete="off"> Verwijderen
              </label>
              <label class="btn btn-success" ng-click="addExtras(5)">
                <input type="checkbox" autocomplete="off"> Toevoegen
              </label>
            </div>
          </div>
          <div>
            <a class="btn btn-default prev" href="#">Terug</a>
            <a class="btn btn-default next" href="#">Doorgaan</a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="stap6">
        <div class="well">
          <h2>stap 6</h2>bla bla bla</div>
        <div>
          <a class="btn btn-default prev" href="#">Terug</a>
          <a class="btn btn-default next" href="#">Doorgaan</a>
        </div>
      </div>
      <div class="tab-pane fade" id="stap7">
        <div class="well">
          <h2>stap 7</h2>bla bla bla</div>
        <div>
          <a class="btn btn-default prev" href="#">Terug</a>
          <a class="btn btn-default next" href="#">Doorgaan</a>
        </div>
      </div>
      <div class="tab-pane fade" id="stap8">
        <div class="well">
          <h2>Uw prijs</h2>€ 50.000</div>
        <a class="btn btn-success first" href="#">Gereed</a>
      </div>
    </div>
    <div class="total-content" style="">
      <div class="totalPrice">
        <h3>Totaalprijs</h3>
        <p><b>{{totalPrice | currency:"€"}}</b></p>
        <br>
        <h4>Toevoegingen</h4>
        <div ng-repeat="extra in extras">
          {{extra.description}}
        </div>
      </div>
    </div>
  </div>
  <script src="scripts.js"></script>
</div>