.garage {
    margin-top:20px;
    margin-bottom:20px;
}

#garagePicture {
    border-radius:10px;
}

.container {
    margin-top: 30px;
    /*text-align: center;*/
}

.next {
    margin-top:20px;
}

.prev {
    margin-top:20px;
}

#stap1 .prev{
    display:none;
}

.page-wrapper {
    display:inline-block;
    width:100%;
}

.tab-content {
    width:40%;

    float:left;
}

.total-content {
    width:30%;
    text-align: center;
    float:left;
}

.tab-container {
    text-align: center;

}